<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <body class="content">

        <h2>Neews Feed Reader</h2>
        <div >  
            <form th:action="@{/save}" method="post">
                <label for="fname">Insert feed url:</label>
                <input type="url" th:value="${feedUrl}" name="feedUrl" th:placeholder="${'Insert feed url'}" required="required" />

                <label for="lname">The default pull size is 10. Insert custom pull size:</label>
                <input type="text" th:value="${size}" name="size" th:placeholder="${'Insert custom pull size'}" />

                <label th:text="${message}"></label>

                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
    <style>
        input[type=text], input[type=url] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #ff3333;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #990000;
        }

        div {
            width: 60%;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .content {
            display: grid;
            place-items: center;
        }
    </style>
</html>
